body {
    background: #1c7737;
        display: flex;
            justify-content: center;

}

.cards .card{
    background: #56311a;
    width: 350px;
    height: 150px;
    border: 5px solid #0a0a0b;
    border-radius: 10px;
}

.card {
                margin: 15px;
                gap: 15px;
}
.card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}